/*******/
.pageLoader{background: rgba(255, 255, 255, 0.8); position: fixed; top: 0; bottom: 0; right:0; left: 0; z-index: 9; display: flex; align-items: center; justify-content: center;}
.pageLoader img{width: 100%; max-width: 80px;}

.historymainBox{padding: 0; margin: 45px 0 59px 0;}
.historymainBox .historyBox .callHistoryList .callHistoryListing{overflow-y: auto; height: 70vh;}
.historymainBox .historyBox .titile, .historymainBox .settingBox .title{font-size: 20px; letter-spacing: -0.01em; color: #000; line-height: 28px; margin: 0; padding: 20px; border-bottom: 1px solid #ECEDF0;font-weight: 500; }


.historymainBox .settingListing{padding: 14px 20px; border-bottom:1px solid #ECEDF0;}
.historymainBox .settingListing p{font-size: 12px; line-height: 14px; letter-spacing: -0.01em;  color: #9B9FB1; margin: 0 0 14px 0;}
.historymainBox .settingListing .infosection{display: flex; align-items: center; justify-content: space-between;}
.historymainBox .settingListing .infosection .setting-txt{font-size: 14px; line-height: 20px; color: #000; letter-spacing: -0.01em;}
.historymainBox .settingListing .infosection .arrow{position: relative; cursor: pointer; background: url(/src/images/Icon-right.svg) 0 0 no-repeat; height: 24px; width: 24px;}
.historymainBox .settingListing .infosection .arrow.disabled{pointer-events: none; cursor: default;}
