/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #3b679e 0%,#2b88d9 50%,#207cca 100%,#7db9e8 100%,#207cca 101%);
  font-family: 'Rubik', sans-serif;  font-weight: 400;
}

#setup-device {
  border-radius: 0%;
  font-size: 20px;
  margin: 20px 0px 0px 20px;
  width: 200px;
}

#token-url, #init-button {
  font-size: 25px;
  margin: 20px 20px 0px 20px;
}

#token-url {
  width: calc(100% - 45px);
}

#init-button {
  width: 200px;
  border-radius: 0%;
  margin-bottom: 20px;
}

#root {
  width: 700px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.device {
  margin: 20px;
  padding: 15px;
}

.device > input, .device > div {
  margin: 5px;
}

.label {
  color: rgba(32,28,41,.75);
  font-size: 23px;
}

.textbox {
  font-size: 25px;
  padding-left: 10px;
}

.buttons > input {
  border-radius: 0%;
  width: 85px;
  font-size: 20px;
  margin-right: 5px;
  display: inline-block;
}

.log {
  width: 600px;
  background: rgba(32,28,41,.75);
  color: white;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.log > p {
  margin: 0px 0px 17px 0px;
} */



.main{display: flex; flex-direction: column; overflow: hidden !important;}
.header{display: flex; align-items: center; justify-content: space-between; background: #F8F9FA; height: 45px; padding: 0 10px 0 15px; box-sizing: border-box; position: fixed; top: 0; width: 100%;}
.header img{width: 100%; max-width: 64px;}
.header button{height: 24px; width: 24px; font-weight: bold; color: #9B9FB1; background: none; border: none; font-size: 15px;  }

.actionBox{margin: 10px 0; text-align: center;}
.extra-msg.showRegistration, .extra-msg.showLogin{font-weight: 500; cursor: pointer;}

.extra-msg, .txt{font-size: 12px; padding: 0; margin:10px 0 0 0; color: #9B9FB1;   }
.extra-msg span, .txt span{color:#651FFF; cursor: pointer;  }
.brandbtn{height: 50px; cursor: pointer; background: #00D659; border-radius: 3px; color: #000; font-size: 14px; border: none; width: 100%; font-weight: 500;font-family: 'Rubik', sans-serif;}
.brandbtn:focus{outline: none; border: none;}

/*** footer ****/
.footer, .dialpad-footer{background: #F8F9FA; border-top: 1px solid #ECEDF0; height: 45px; padding:0 20px; position: fixed; bottom: 0; width: 100%; box-sizing: border-box; left: 0; display: flex; align-items: center;}

.footer p{padding: 0; margin: 0;}